@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

header {
    text-align: center;
    background-image: url('midia/header-nuvem.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
header > h1 {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 3rem;
    background: #1509ed;
    background: linear-gradient(353deg, rgba(21, 9, 237, 1) 23%, rgba(9, 9, 121, 1) 45%, rgba(0, 212, 255, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header > h3 {
    padding-bottom: 50px;
    font-size: 1.5rem;
    background: #1509ed;
    background: linear-gradient(353deg, rgba(21, 9, 237, 1) 23%, rgba(9, 9, 121, 1) 45%, rgba(0, 212, 255, 1) 100%);
    background-clip: text ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.pai {
    display: flex;
    justify-content: center;
    gap: 80px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.548);
}
.item {
    width: 100px;
    height: 100px;
    background-color: darkred;
    border-radius: 10px;
   
}
.item > h2 {
    transform: translateY(-15px);
}

.container {
    width: 100%;
    margin: 0 auto;
}

main {
    display: block;
    background-color: gray;
}

h2 {
    font-size: 2.2rem;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-shadow: 0 0 1px #FFF, 0 0 3px #FFF, 0 0 6px #49ff18, 0 0 10px #49ff18;
    color: #FFFFFF;

    
}

.caixa-texto {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('midia/fundocaixatexto.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    
;
    
}


p {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 45px;
    color: black;
    text-align: justify;
    text-align: center;   
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;

    
}

.image::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0)0, rgba(0, 0, 0, 0)40%, #000 100%);
}

#image-1 {
    background-image: url('midia/imagemparalax1.jpg');
}
#image-2 {
    background-image: url('midia/imagemparalax2.jpg');
}
#image-3 {
    background-image: url('midia/imagemparalax3.jpg');

}
#image-4 {
    background-image: url('midia/imagemparalax4.jpg');

}
#image-5 {
    background-image: url('midia/imagemparalax5.jpg');

}
#image-6 {
    background-image: url('midia/imagemparalax6.jpg');

}
#image-7 {
    background-image: url('midia/imagemparalax7.jpg');

}
#image-8 {
    background-image: url('midia/imagemparalax8.jpg');

}
#image-9 {
    background-image: url('midia/imagemparalax9.jpg');

}
#image-10 {
    background-image: url('midia/imagemparalax10.jpg');

}



footer {
    background-color: #000;
    padding: 5px 0;
}
 .text-rodape{
    color: #FFF;
    font-size: 1.2rem;
    text-decoration: none;
}

a {
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
}
a:hover {
    color: #1509ed;
    text-decoration: underline;
}